/**
dashboard css
 */
body, h1, h2, h3, hr, p, table, tr, th, td, thead {
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: #59B5D6;
}
.canvas-box{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
}
.body-index {
    background-color: #040C15;
}
.top {
    vertical-align: middle;
    margin-bottom: 30px;
}
.logo {
    float: left;
    width: 36px;
    height: 36px;
    margin-left: 15px;
    margin-right: 15px;
}
.brand {
    margin-top: 15px;
}
.brand-name {
    float: left;
}
.trapezoid {
    position: absolute;
    top: 0;
    margin-left: -18%;
    left: 50%;
    content: "";
    display: block;
    text-align: center;
    width: 30%;
    height: 0;
    color: #59B5D6;
    border-width: 0px 50px 50px;
    border-style: none solid solid;
    border-color: transparent transparent #0e1e3d;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.title {
    font-size: 24px;
    margin-top: 7px;
    display: block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.upper-bg {
}
.goods-sales, .machine-sale {
    width: 30%;
    float: left;
}
.week-sale {
    width: 30%;
    float: right;
}
/*.highcharts-credits{*/
/*display: none;*/
/*}*/
.total-bg {
    width: 38%;
    color: white;
    float: left;
    margin-left: 1%;
    margin-top: 2px;
}
.total-title {
    background-color: #0c1833;
    padding: 14px;
}
.total1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px #0c1833;
    padding: 15px;
}
.total_item {
    text-align: center;
}
.title1 {
    color: #6d7985;
    padding: 12px;
}
.content1 {
    color: #26e1ef;
    font-size: 24px;
    padding: 12px;
}
.total-now {
    margin-top: 20px;
}
.machine-sale {
    margin-top: 20px;
}
.grid-bg {
    margin-top: 20px;
    color: #7bf0f8;
}
.order-title-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0c1833;
    padding: 14px;
    vertical-align: middle;
    margin-top: 2px;
}
.order-title {
}
.order-t-n {
}
.thead {
    background-color: #1a1d2d;
}
table {
    width: 100%;
    color: white;
    border: solid 1px #0c1833;
}
tr {
    text-align: center;
    border-top: solid 1px #0c1833;
    display: flex;
}
.tr {
    color: #686c7d;
}
th, td {
    padding: 4px 2px;
}
.td0 {
    flex: 0.6;
}
.td1 {
    flex: 2;
}
.td2 {
    flex: 1.5;
}
.td3 {
    flex: 2;
}
.td4 {
    flex: 1;
}
.td5 {
    flex: 1;
}
.td-border {
    border-right: solid 1px #0c1833;
    border-top: solid 1px #0c1833;
}
.b-bottom {
    border-top: solid 1px #0c1833;
}
.b-right {
    border-right: solid 1px #0c1833;
}
tbody {
    color: white;
    font-size: 14px;
}
.user-total {
    float: right;
    width: 30%;
    margin-top: 20px;
}
/* 供应链 */
.c-h2{
    text-align: center;
    padding-top: 20px;
    color: #7bf0f8;
    padding-bottom: 50px;
}
.chain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    /*padding-top: 50px;*/
}
.supplier-bg {
    flex: 1;
}
.house-bg{
    flex: 1;
}
.staff-bg{
    flex: 1;
}
.machine-bg{
    flex: 1;
}
.os-bg{
    flex: 0.5;
}
.dash-border{
    border: solid 4px #59B5D6;
}
.s-item1{
    text-align: center;
    padding: 10px;
}
.items-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-bg div{
    color: #7bf0f8;
}
.supplier-img{
    width: 80px;
    height: 80px;
}
.cart-image{
    text-align: center;
    width: 50px;
    height: 50px;
}
.house-img{
    width: 80px;
    height: 80px;
}
.machine-img{
    width: 80px;
    height: 80px;
}
.arrow-right{
    padding: 0 15px;
}
.square{
    width: 80%;
    height: 200px;
    margin-left: 12%;
    border-right: solid 1px #0c1833;
    border-left: solid 1px #0c1833;
    border-bottom: solid 1px #0c1833;
    margin-top: -10px;
}
.arrow-up{
    padding-left: 12%;
    margin-left: -7px;
    color: #7bf0f8;
}
.chain-title{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #7bf0f8;
    font-size: 18px;
    font-weight: bold;
}
.c-title1{
    padding-top: 10px;
    font-size: 16px;
}
.s-item1 h4{
    color: #7bf0f8;
    font-size: 15px;
    width: 100px;
}
/* 下部 箭头 */
.b-bg{
    display: flex;
    flex-direction: row;
    margin-top: -150px;
}
.b-bg1{
    flex: 1;
}
.square2{
    width: 30%;
    margin-left: 20%;
}
.arrow-up2{
    padding-left: 20%;
}
.square-text{
    text-align: center;
    padding-top: 170px;
}
/* 采购单 */
.po-bg{
    width: 140%;
    border:1px solid #f57a22;
    background-color:transparent;
    position:relative;
    z-index: 999;
}
.arrow-t1,.arrow-t2{
    position:absolute;
    width:0;
    height:0;
}
.arrow-t1{
    border:20px solid transparent;
    border-bottom-color:#a0a0a0;
    top:-40px;
    left:50%;
    margin-left: -20px;
}
.arrow-t2{
    border:18px solid transparent;
    border-bottom-color:#040C15;
    top:-35px;
    left:50%;
    margin-left: -20px;
}
.po-bg p{
    font-size: 12px;
}
.chain-t{
    color: #a0a0a0;
    margin-bottom: 0;
}
.chain-t tr{
    display: flex;
    border: none;
}
.chain-td0{
    flex: 2;
}
.chain-td1{
    flex: 1;
}
.chain-td2{
    flex: 1.5;
}
.chain-td3{
    flex: 1;
}
.chain-td21{
    flex: 1;
}
.chain-t td{
    color: #a0a0a0;
    font-size: 10px;
}
.chain-t thead tr th{
    text-align: center;
    font-size: 10px;
    border-bottom-width: 1px;
}
.chain-t,.chain-t thead tr th, .chain-t tbody tr td{
    border: solid 1px #0c1833;
}
.po-bg1{
    margin-left: -35px;
}
.po-bg2{
    width: 96%;
    margin-left: 2%;
}
.arrow-t11{
    left: 40%;
}
.arrow-t21{
    left: 41%;
}
/* 下部箭头 */
.b-square{
    height: 70px;
    border-right: solid 1px #7bf0f8;
    border-left: solid 1px #7bf0f8;
    border-bottom: solid 1px #7bf0f8;
    margin-top: -10px;
    text-align: center;
    color: #7bf0f8;
}
.b-square1{
    width: 70%;
    margin-left: 30%;
}
.square-text-bg{
    text-align: left;
    font-size: 12px;
    width: 100px;
    float: right;
    margin-right: 50px;
    padding-top: 10px;
}
.bottom-bg{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}
.bottom-bg1{
    flex: 1;
}
.arrow-up1{
    padding-left: 30%;
}
.b-square2{
    width: 60%;
    margin-left: 20%;
}
.arrow-up2{
    padding-left: 20%;
}
.b-square3{
    width: 65%;
    margin-left: 0;
}
.arrow-up3{
    padding-left: 0;
}
.order-img{
    width: 50px;
    height: 50px;
    margin-top: -30px;
}
.order-t1{
    width: 100px;
    text-align: left;
    margin-left: 25%;
    padding-top: 50px;
    font-size: 13px;
    color: white;
}
.order-t2{
    margin-left: 22%;
}
.square-b-line{
    width: 100px;
    height: 1px;
    background-color: #7bf0f8;
}
.square-bias{
    width: 40px;
    height: 1px;
    margin-top: -19px;
    margin-left: 90px;
    background-color: #7bf0f8;
    -webkit-transform: rotate(120deg);/*Safari 4+,Google Chrome 1+  */
    -moz-transform: rotate(120deg);/*Firefox 3.5+*/
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1.20);
}

/* 订单 */
.chain-o{
    padding-top: 40px;
    align-items: baseline;
}
.o-bg{
    border:1px solid #a0a0a0;
    background-color:transparent;
    position:relative;
    z-index: 999;
}
.cs-content{
    padding: 5px;
    font-size: 12px;
    color: #a0a0a0;
}
.bottom-bg3{
    margin-top: -40px;
}
/* 箭头 */
.arrow-bg{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    align-items: center;
}
.arrow-right1{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
}
.arrow-bg p{
    font-size: 15px;
    font-weight: 600;
    color: #7bf0f8;
}

/* 第一部分 */
.chain-top{
    padding-bottom: 20px;
    align-items: flex-start;
}
.top-bg1{
    float: left;
    margin-bottom: 10px;
}
.arrow-b1,.arrow-b2{
    position:absolute;
    width:0;
    height:0;
}
.arrow-b1{
    border:20px solid transparent;
    border-bottom-color:#a0a0a0;
    bottom:-40px;
    left:50%;
    margin-left: -20px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
}
.arrow-b2{
    border:18px solid transparent;
    border-bottom-color:#040C15;
    bottom:-35px;
    left:50%;
    margin-left: -20px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
}
.arrow-b11,.arrow-b12{
    left: 80%;
}

.top-bg1{
    width: 25%;
    padding-right: 30px;
}
.top-bg2{
    width: 20%;
    padding-right: 20px;
}
.top-bg3{
    width: 15%;
    padding-right: 20px;
}
.top-order1{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.top-order2{
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
}
.top-order3{
    text-align: center;
    margin-top: 10px;
    margin-right: 100px;
}