.x-btn-default-small .x-btn-inner,.x-btn-default-medium .x-btn-inner,.x-btn-default-large .x-btn-inner,.x-btn-default-toolbar-small .x-btn-inner,.x-btn-default-toolbar-medium .x-btn-inner,.x-btn-default-toolbar-large .x-btn-inner,.x-menu-item-text,.x-html-editor-tb .x-font-select,.x-panel-header-default,.x-panel-header-text-default,.x-panel-header-default-framed,.x-tip-header,.x-tip-body,.x-form-invalid-tip-body,.x-tip-header-text,.x-progress-text,.x-toolbar,.x-toolbar .x-form-item-label,.x-toolbar .x-toolbar-text,.x-window-header-text-default,.x-tab-bar,.x-tab button,.x-grid-rowbody,.x-grid-row .x-grid-cell,.x-grid-group-title,.x-grid-row-editor .x-form-field,.x-grid-row-editor .x-form-display-field,.x-form-invalid-under,.x-fieldset-header,.x-column-header,.x-mask-msg div,.x-btn-group-header-text-default-framed,table.x-datepicker-inner a,.x-monthpicker-item,.x-dd-drag-ghost
{
	font-size: 12px/150% Arial;
	font-family: "Microsoft Yahei";
}

.x-column-header {
	text-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
}

/**goodsDateView **/
#goodsDateView {
	background-color: #fff;
	text-shadow: #fff 0 1px 0;
	position: relative;
	display: block;
	height: auto;
}

#goodsDateView div.phone img {
	margin-bottom: 1px;
}

#goodsDateView div.phone {
	float: left;
	padding: 8px 12px;
	margin: 5px;
	/*    margin: 10px 0 0 25px;*/
	text-align: center;
	line-height: 14px;
	color: #333;
	height: 145px;
	width: 140px;
	overflow: hidden;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.x-ie6 #goodsDateView div.phone,.x-ie7 #goodsDateView div.phone,.x-ie8 #goodsDateView div.phone
{
	border-top: none;
	padding: 3px 2px;
	margin: 2px;
}

#goodsDateView div.phone-hover {
	background-color: #eee;
}

#goodsDateView .x-item-selected {
	background-color: #D3E1F1 !important;
}

#goodsDateView div.phone div {
	color: #000;
	height: 30px;
	display: block;
	word-wrap: break-word;
	word-break: break-all;
	text-align: center;
	overflow: hidden;
}

#goodsDateView div.phone span {
	color: #999;
}

.x-grid-rowbody-tr {
	border-top: 1px solid #D0D0D0;
	background-color: #fff;
}

.x-grid-row-selected .x-grid-rowbody-tr {
	border-color: #188AE5;
	color: #000;
}

.x-grid-row-over{
	background-color: #4D5365 !important;
	background-image: none;
}

.x-tab-default-top button,.x-tab-default-top .x-tab-inner {
	height: 13px;
	line-height: 13px;
	font-family: 微软雅黑;
	font-size: 12px;
}

.goods_synopsis {
	padding: 10px;
}

.goods_synopsis img {
	float: left;
	width: 68px;
	height: 68px;
}

.goods_synopsis .content {
	margin-left: 10px;
	padding-left: 68px;
}

.upload-icon {
	background: url('../images/image_add.png') no-repeat 0 0 !important;
}

.rreply-icon {
	background-image: url( ../images/icon/book.png ) !important;
}

.audit-icon {
	background-image: url( ../images/icon/cog.gif ) !important;
}

.cancel-audit-icon {
	background-image: url( ../images/icon/cog.gif ) !important;
}

.add-icon {
	background-image: url( ../images/icon/add.gif ) !important;
}


.excel-icon {
	background-image: url( ../images/icon/page_excel.png ) !important;
}

.edit-icon {
	background-image: url( ../images/icon/edit.gif ) !important;
}

.remove-icon {
	background-image: url( ../images/icon/delete.gif ) !important;
}

.start-icon {
	background-image: url( ../images/icon/feed_add.png ) !important;
}

.stop-icon {
	background-image: url( ../images/icon/feed_delete.png) !important;
}

.reset-icon {
	background-image: url( ../images/icon/table_refresh.png ) !important;
}

.cog-icon {
	background-image: url( ../images/icon/cog.gif ) !important;
}

.home-cls {
	background-image: url("../images/icon/icon.png");
	background-position: 3px 0 !important;
}

.main-north .x-panel-body {
	/*background:url("../images/logo.png") no-repeat #40474A;*/
	background-color:  #40474A;;
}
.header-title{
	color: white;
	font-size: 18px;
	vertical-align: middle;
	margin-left: 30px;
	float: left;
	font-family: "Microsoft Yahei";
}
.main-south .x-panel-body {
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	color: #c0e2fd;
	background: url("../images/footer_bg.jpg") repeat-x;
}

.main-north .header {
	/*height: 100%;*/
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

html>body .main-north .header {
	/*background: url("../images/north-bg.png") repeat-x;*/
}

/** .main-north .header {*/
/*_filter: progid :                                       DXImageTransform*/
/*. */
/**/
/**/
/**/
/*Microsoft .             */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*AlphaImageLoader(sizingMethod =                                    */
/*'image', src =      */
/**/
/**/
/**/
/*"styles/images/north-bg.png");*/
/*}*/

.main-north .header .logininfo a {
	text-decoration: none;
	color: #fff;
}

.main-north .header .logininfo {
	color: #fff;
	float: right;
	margin-right: 30px;
}

.search-handler {
	background-image: url("../images/icon/search.png") !important;
}

.excel-handler {
	background-image: url("../images/icon/page_excel.png") !important;
}

.remove-handler {
	display: block;
	height: 16px;
	width: 16px;
	margin: auto;
	background-image: url("../images/icon/remove.gif") !important;
}

.download-handler {
	display: block;
	height: 16px;
	width: 16px;
	margin: auto;
	background-image: url("../images/icon/download.gif") !important;
}

.win-cls-icon {
	background-image: url("../images/icon/icon.png");
	background-position: 0 -43px !important;
}

.home-cls {
	background-image: url("../images/icon/icon.png");
	background-position: 0 4px !important;
}

.clear-trb-border .x-panel-body {
	border-right: 0px;
}

.clear-trb-border .x-grid-header-ct {
	border-right: 0px;
	border-top: 0px;
}

.clear-trb-border .x-toolbar {
	border-bottom: 0px;
	border-right: 0px;
	border-top: 0px;
}

.clear-tlr-border .x-panel-body,.clear-tlr-border .x-grid-header-ct {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}

.clear-tlr-border .x-toolbar {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.clear-border .x-panel-body {
	border-left: 0px;
	border-right: 0px;
}

.clear-border .x-toolbar {
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

.clear-header-border .x-panel-header {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.clear-ltb-border .x-panel-header {
	border-top: 0px;
	border-left: 0px;
}

.clear-ltb-border .x-panel-body {
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
}

.x-mask-loading {
	border: 1px solid #ccc;
	background-color: white;
	padding: 0;
	border: 1px solid #ccc;
}

.x-mask-loading div {
	background-color: white;
	line-height: 41px;
	border: none;
	padding: 0px 15px 0px 43px;
	color: #555;
	font-size: 13px;
	font-weight: bold;
	font-family: tahoma, arial, helvetica;
	background-image: url("../images/large-loading.gif") !important;
}

.details-handler {
	color: #0F69C9;
	text-decoration:none;
}
.details-handler-split{
	color: #CCCCCC;
}

/** tree css **/
/* line 33, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-elbow-plus,.x-tree-elbow-minus,.x-tree-elbow-end-plus,.x-tree-elbow-end-minus
{
	cursor: pointer;
}

/* line 37, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-icon {
	margin-right: 4px;
}

/* line 52, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-elbow,.x-tree-elbow-line,.x-tree-elbow-end,.x-tree-elbow-plus,.x-tree-elbow-minus,.x-tree-elbow-end-plus,.x-tree-elbow-end-minus,.x-tree-icon-end,.x-tree-icon-end-plus,.x-tree-icon-leaf,.x-tree-elbow-empty,.x-tree-icon-parent
{
	height: 24px;
	width: 20px;
}

/* line 67, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow,.x-tree-lines .x-tree-elbow-line,.x-tree-lines .x-tree-elbow-end,.x-tree-elbow-plus,.x-tree-elbow-minus,.x-tree-elbow-end-plus,.x-tree-elbow-end-minus,.x-tree-icon-end,.x-tree-icon-end-plus,.x-tree-icon-leaf,.x-tree-icon-parent
{
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/elbows.png')
;
}

/* line 73, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-elbow-plus,.x-tree-elbow-end-plus {
	/*background-image:*/
			/*url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')*/
	/*!important;*/
	background-position: 0px 0;
}

/* line 79, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-tree-node-expanded .x-tree-elbow-plus,.x-grid-tree-node-expanded .x-tree-elbow-end-plus
{
	/*background-image:*/
			/*url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')*/
	/*!important;*/
	background-position: -20px 0;
}

/* line 86, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow-plus {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')
	!important;
	background-position: -80px 0;
}

/* line 91, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow-end-plus {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')
	!important;
	background-position: -100px 0;
}

/* line 96, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')
	!important;
	background-position: -120px 0;
}

/* line 101, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-gray.png')
	!important;
	background-position: -140px 0;
}

/* line 110, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows .x-tree-elbow-plus,.x-tree-arrows .x-tree-elbow-end-plus
{
	background-position: -40px 0 !important;
}

/* line 115, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-plus,.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-end-plus
{
	background-position: -60px 0 !important;
}

/* line 122, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows.x-tree-lines .x-tree-elbow-plus {
	background-position: -160px 0;
}

/* line 126, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows.x-tree-lines .x-tree-elbow-end-plus {
	background-position: -180px 0;
}

/* line 130, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus
{
	background-position: -200px 0;
}

/* line 134, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-arrows.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus
{
	background-position: -220px 0;
}

/* line 141, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-icon-parent {
	width: 0px;
	background-position: -240px 0 !important;
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-orange.png')
	!important;
}

/* line 146, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-tree-node-expanded .x-tree-icon-parent {
	background-position: -300px 0 !important;
}

/* line 150, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-icon-leaf {
	background-position: -360px 0 !important;
}

/* line 156, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-icon-parent {
	width: 20px;
	background-position: -260px 0 !important;
}

/* line 161, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-grid-tree-node-expanded .x-tree-icon-parent {
	background-position: -320px 0 !important;
}

/* line 167, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-icon-leaf {
	width: 0px;
	background-position: -360px 0 !important;
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-orange.png')
;
}

/* line 174, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-icon-leaf {
	background-position: -380px 0 !important;
}

/* line 188, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-row-selected .x-tree-elbow-plus,.x-grid-row-selected .x-tree-elbow-minus,.x-grid-row-selected .x-tree-elbow-end-plus,.x-grid-row-selected .x-tree-elbow-end-minus,.x-grid-row-selected .x-tree-icon-end,.x-grid-row-selected .x-tree-icon-end-plus,.x-grid-row-selected .x-tree-icon-leaf,.x-grid-row-selected .x-tree-icon-parent
{
	/*background-image:*/
			/*url('../../extjs-4.1.1/resources/themes/images/neptune/tree/icons-white.png')*/
	!important;
}

/* line 195, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow-line {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/elbows.png')
;
	background-position: 0 48px;
}

/* line 200, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/elbows.png')
;
	background-position: 0 0px;
}

/* line 205, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-lines .x-tree-elbow-end {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/elbows.png')
;
	background-position: 0 24px;
}

/* line 223, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-cell-treecolumn .x-grid-cell-inner {
	padding: 0;
	line-height: 40px;
}

/* line 228, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-with-row-lines .x-grid-cell-treecolumn .x-grid-cell-inner {
	line-height: 21px;
}

/* line 232, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-panel .x-grid-cell-inner {
	cursor: pointer;
}

/* line 234, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-panel .x-grid-cell-inner img {
	display: inline-block;
	vertical-align: middle;
}

/* line 274, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-checkbox {
	margin: 4px 3px 0 0;
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 17px;
	background: no-repeat;
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/checkbox.gif');
	overflow: hidden;
	padding: 0;
	border: 0;
}

/* line 287, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-checkbox                  ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* line 293, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-with-row-lines .x-tree-checkbox {
	margin-top: 3px;
}

/* line 297, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-checkbox-checked {
	background-position: 0 -17px;
}

/* line 301, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-drop-ok-append .x-dd-drop-icon {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/drop-append.gif')
;
}

/* line 305, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-drop-ok-above .x-dd-drop-icon {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/drop-above.gif')
;
}

/* line 309, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-drop-ok-below .x-dd-drop-icon {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/drop-below.gif')
;
}

/* line 313, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-drop-ok-between .x-dd-drop-icon {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/drop-between.gif')
;
}

/* line 317, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-tree-loading .x-tree-icon {
	background-image:
			url('../../extjs-4.1.1/resources/themes/images/neptune/tree/loading.gif')
;
}

/* line 321, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-ddindicator {
	height: 1px;
	border-width: 1px 0px 0px;
	border-style: dotted;
	border-color: green;
}

/* line 328, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-grid-tree-loading span {
	font-style: italic;
	color: #444444;
}

/* line 333, ../themes/stylesheets/neptune/default/widgets/_tree.scss */
.x-tree-animator-wrap {
	overflow: hidden;
}

/* line 57, ../themes/stylesheets/ext4/default/widgets/_tree.scss */
.x-tree-arrows .x-tree-expander-over .x-tree-elbow-plus,.x-tree-arrows .x-tree-expander-over .x-tree-elbow-end-plus
{
	background-position: 0 0;
}
/*
.x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div
	{
	border-style: solid;
	border-color: #188AE5;
	color: white;
	background-color: #0E4DAD !important;
}
*/

.x-tree-icon {
	margin: 0 3px 0 0 !important;
}

/** tree css end **/ /** itemselector start **/
.x-form-multiselect-body .x-boundlist .x-mask {
	background: none;
}

.x-form-itemselector-body .x-form-item {
	margin: 0;
}

.x-form-itemselector-top {
	background-image: url(../images/top2.gif);
}

.x-form-itemselector-up {
	background-image: url(../images/up2.gif);
}

.x-form-itemselector-add {
	background-image: url(../images/right2.gif);
}

.x-form-itemselector-remove {
	background-image: url(../images/left2.gif);
}

.x-form-itemselector-down {
	background-image: url(../images/down2.gif);
}

.x-form-itemselector-bottom {
	background-image: url(../images/bottom2.gif);
}

.under-warnings-0-status {
	background-image: url(../images/icon/0.png)!important;
}
.under-warnings-1-status {
	background-image: url(../images/icon/1.png)!important;
}
.under-warnings-2-status {
	background-image: url(../images/icon/2.png)!important;
}
.under-warnings-3-status {
	background-image: url(../images/icon/3.png)!important;
}

/** itemselector end **/

#system-login-bg1 {
	background: no-repeat center;
	background-image: url( ../images/login_bg1.jpg ) !important;
}


.x-panel-body{
	font-size:14px;
	background-color: white;
}
.tree-item-parent{
	background-color: #4D5365 !important;
	color: white;
	height: 40px;
	line-height: 40px;
	letter-spacing:.02em;
}
.tree-item-leaf{
	background-color: #3C404D !important;
	color: white;
	height: 40px;
	line-height: 40px !important;
	font-size: 12px;
}
.x-grid-row-selected .x-grid-cell{
	background-color:#33C8DF!important
}
.x-tree-panel .x-panel-header-default{
	background-color: #555C6D !important;
	background-image: none;
	/*height: 30px;*/
	line-height: 30px;
	margin-top: -2px;
	vertical-align: middle;
}
.x-panel-header-text-default{
	color: white;
}
.x-login-btn{
	margin-top: 20px;
	background: #00C1DE none !important;
	font-size: 14px !important;
	color: white !important;
	border-color:#00C1DE;
}
.x-login-btn.x-btn-default-small .x-btn-inner{
	color: white !important;
	font-size:14px;
	font-weight:700;
}
.x-login-body-text{
	left: 22%;
	top: 36%;
}
.x-login-panel{
	right: 15%;
	top:20%
}
.x-docked-top{
	border-left-width: 0 !important;
	border-right-width: 0!important;
}
.x-panel-header-default-left, .x-panel-header-default-right{
	background-image: none;
	background-color:#555C6D !important;
}
.x-panel-header-default-vertical{
	border-color:#555C6D !important;
}
.x-panel-header-default-left{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.x-panel-tree-collapsed{
	color: white;
}
.x-tab-bar{
	background: #D9DEE4 none !important;
}
.x-tab-default-top{
	background: #EAEDF1 none;
}
.x-tab-top-active{
	background: white none;
}
.x-tab button{
	color: #333;
}
.x-tab-active button{
	color: #333;
}
.t-panel-toolbar{
	background: white none;
	border-top:1px solid #e1e6eb !important;
}
.x-grid-header-ct{
	/*background: #F5F6FA none;*/
	/*height: 30px;*/
}
.x-column-header{
	background: #F5F6FA none;
}
text{
	text-anchor: middle;
}

.x-grid-row-selected td{
	background-color: #FFE3D2 !important;
}
.t-panel-top-form-btn{
	background: #F4F3F4 none;
}
tr,td{
	vertical-align: middle;
}
.t-panel-form-numberfield{
	height: 30px !important;
}
.x-column-header-inner{
	line-height: 30px;
}
.x-grid-row{
	vertical-align: middle;
	height: 40px;
}
.x-panel-body-default{
	border: none !important;
}
.x-toolbar{
	border: none;
	padding:2px 0 2px 0px;
}
.x-tab-bar-top .x-tab-bar-body{
	border: none;
}
.x-panel-default{
	border: none;
}
.x-tab{
	border-color: #D9DEE4;
}
.x-boundlist-item-over {
	background:#D9DEE4;
	border-color: #D9DEE4;
}
.x-column-header-over, .x-column-header-sort-ASC, .x-column-header-sort-DESC{
	background: none;
}
.x-tool-expand-left, .x-tool-collapse-left {
	width:0 !important;
}
.x-border-box .x-tab-bar-top .x-tab-bar-strip{
	height: 0;
	border: none;
}
.t-panel-form-numberfield{
	height:50px;
}
.x-border-box .x-form-text{
	height: 30px ;
}
.x-form-trigger{
	background-image:url('../images/icon/trigger.png');
	width:26px;
	height: 30px !important;
}
.x-form-trigger-wrap-focus .x-form-trigger-over{
	background-position:0 0;
}
.x-form-trigger-wrap-focus .x-form-trigger{
	background-position: 0 0;
}
.x-form-trigger-over {
	background-position: 0 0;
}
.x-form-trigger-wrap .x-form-spinner-up, .x-form-trigger-wrap .x-form-spinner-down{
	background-image:url('../images/icon/spinner.png');
	width:26px !important;
	height: 15px !important;
}
.x-form-trigger-wrap .x-form-spinner-down{
	background-position:0 -15px;
}
.x-form-date-trigger{
	background-image:url('../images/icon/date-trigger.png')
}
.t-panel-toolbar-btn{
	border:1px solid #ddd;
	background-color:#f7f7f7;
	border-radius:0;
	padding:5px 10px;
	line-height: 16px !important;

}
.x-grid-row-checker, .x-column-header-checkbox .x-column-header-text{
	background-image:url('../images/icon/unselected.png');
	width: 16px;
	height:16px;
	background-position:0 0;
}
.x-column-header-checkbox .x-column-header-text{
	margin:0 4px;
}
.x-grid-row-selected .x-grid-row-checker, .x-grid-row-checked .x-grid-row-checker{
	background-image:url('../images/icon/selected.png');
}
.x-grid-hd-checker-on .x-column-header-text{
	background-image:url('../images/icon/selected.png');
}
.x-grid-row-checker{
	margin-left:0;
}
.x-menu-item-checked .x-menu-item-icon{
	background-image:url('../images/icon/selected.png');
}
.x-menu-item-unchecked .x-menu-item-icon{
	background-image:url('../images/icon/unselected.png');
}
.x-window-header-default-top{
	padding:10px 5px 10px 5px;
}
.x-window-header-text-default{
	font-size:14px;
	line-height:20px;
}
.x-window-header-body-horizontal{
	margin-top:3px;
}
.x-toolbar-footer .x-box-inner{
	height: 30px !important;
}
.x-toolbar-footer .x-toolbar-item{
	height: 30px !important;
}
.x-btn .x-btn-center .x-btn-inner{
	height: 24px;
	line-height: 24px;
}
.x-grid-editor .x-form-trigger-wrap .x-form-spinner-up, .x-grid-editor .x-form-trigger-wrap .x-form-spinner-down, .x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-up, .x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-down{
	background-image:url('../images/icon/spinner.png');
	width:26px !important;
	height: 15px !important;
}
.x-border-box .x-grid-editor .x-form-text, .x-border-box .x-grid-row-editor .x-form-text
{
	height:30px;
}
.x-tool img{
	display: none;
}
.x-tree-arrows .x-tree-elbow-plus, .x-tree-arrows .x-tree-elbow-minus, .x-tree-arrows .x-tree-elbow-end-plus, .x-tree-arrows .x-tree-elbow-end-minus{
	background-image: none;
}
.inputCheckBox{
	width:16px;
	height: 16px;
	background-image: url('../images/icon/unselected.png');
	background-position: 0 0;
	vertical-align: middle;
}
.x-grid-back-red{
	background: #FF0000 !important;
}
.tsm-x-grid-row{
	height:20px !important;
}
.tsm-x-grid-combobox-row{
	height:30px !important;
}
.tsm-machine-has-goods{
	background: #2BF864 !important;
}
.tsm-machine-no-goods{
	background: #FED86F !important;
}
.tsm-machine-abnormal{
	background: #6F1D98 !important;
}
.tsm-machine-breakdown{
	background: #FC0D1B !important;
}
.tsm-machine-outage{
	background: #AEAAAA !important;
}
.t-w-grid-tbar{
	border:1px solid #ddd;
	background: white none;
	border-radius:0;
	padding:5px 10px;
	line-height: 16px !important;
}
.tsm-w-grid-row{
	height:30px !important;
}
.tsm-x-grid-combobox-row{
	height:30px !important;
}
.selectChannelStatus{
	/*position: relative;*/
	/*z-index:9999;*/
	/*margin-left:-20px;*/
}
.x-grid-group-hd-collapsible .x-grid-group-title{
	background: transparent no-repeat 0 2px;
	background-image: url("../images/icon/group-collapse.png");
	padding-left: 30px;
	font-size: 15px;
	color: #33C6DD;
}
.x-grid-group-hd-collapsed .x-grid-group-title{
	background-image: url("../images/icon/group-expand.png");

}
.x-border-box .x-field-default-toolbar .x-form-text{
	height: 30px;
}

/*.x-grid-editor .x-form-text{*/
	/*height:40px !important;*/
/*}*/
/*.x-grid-editor .x-form-trigger-wrap .x-form-spinner-down{*/
	/*background-position:0 -20px;*/
/*}*/
/*.x-border-box .x-grid-editor .x-form-trigger, .x-border-box .x-grid-row-editor .x-form-trigger{*/
	/*background-image:url('../images/icon/grid_trigger.png');*/
	/*width:26px;*/
	/*height: 20px;*/
/*}*/
/*.x-grid-editor .x-trigger-cell .x-form-trigger{*/
	/*background-image:url('../images/icon/grid_trigger.png');*/
	/*width:26px;*/
	/*height: 40px;*/
/*}*/