.c-h2{
    color: #38619b;
}
.dash-border{
    border: dashed 1px #0c1833;
}
.chain-title{
    color: #38619b;
}
.s-item1 h4{
    color: #353535;
}
.arrow-t2{
    border-bottom-color:#fff;
}
.chain-t{
    color: #353535;
}
.chain-t td{
    color: #888888;
}
.b-square{
    border-right: solid 1px #0c1833;
    border-left: solid 1px #0c1833;
    border-bottom: solid 1px #0c1833;
}
.order-t1{
    color: #353535;
}
.arrow-bg p{
    color: #353535;
}
.arrow-b2 {
    border-bottom-color: #fff;
}